body {
    font-family: 'Courier New', Courier, monospace;
}

.box {
    display: block;
    background-color: #cecece;
    border-radius: 10px;
    width: 65%;
    height: 65%;
    margin: auto;
    padding: 10px;
}

.hide {
    display: none;
}

.visible {
    display: block;
}

label, input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
}